<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" th:href="@{/css/login_style.css}" rel="stylesheet">
    <title>LOGIN</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function signup() {
        window.location.href = '/admin/signup';
    }

    function login() {
        const data = JSON.stringify({
            "username":$("#username").val(),
            "password":$("#password").val()
        });

        fetch("/users/login", {
            method:"POST",
            headers: {
                "Content-type": "application/json"
            },
            body: data
        })
            .then(response => {
                localStorage.setItem("token",response.headers.get("Authorization"));
                window.location.href = "/admin/main";
            })
            .catch(error => {
                alert("로그인 실패");
            });

    }
</script>
<body>
<form class="login" action="/admin/main" method="post">
    <span style="text-align: center; font-size: 30px; color: white;">로그인</span>
    <span>Email</span>
    <input type="email" name="username" placeholder="Email" style="color:white;">
    <span>Password</span>
    <input type="password" name="password" placeholder="Password" style="color:white;">
    <button>로그인</button>
    <button onclick="javascript:signup();" type="button" class="a">회원가입</button>
</form>
</body>
</html>