<section id="feature">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xl-10 col-lg-9 col-md-8" style="margin-left:auto">
        <div class="row">
          <div class="col-12">
            <h3 class="text-muted text-center mb-3" style="margin-top:2em">메뉴 목록</h3>
            <table class="table bg-light text-center">
              <thead>
              <tr class="text-muted">
                <th>가게이름</th>
                <th>메뉴이름</th>
                <th>가격</th>
                <th>설명</th>
                <th>이미지</th>
              </tr>
              </thead>
              <tbody th:each="menu : ${menuList}">
              <tr th:id="${menu.id}">
                <td th:text="${menu.storeName}"></td>
                <td th:text="${menu.menuName}"></td>
                <td th:text="${menu.price}"></td>
                <td th:text="${menu.details}"></td>
                <td th:text="${menu.imageUrl}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>