<section id="feature">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-xl-10 col-lg-9 col-md-8" style="margin-left:auto">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-muted text-center mb-3" style="margin-top:2em;">테스트 주문 입력</h3>
                        <table class="table bg-info text-center">
                            <thead>
                            <tr class="text-muted">
                                <th>번 호</th>
                                <th>이 름</th>
                                <th>연 봉</th>
                                <th>일 시</th>
                                <th>연락처</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>1</th>
                                <th>철수</th>
                                <th>2000만원</th>
                                <th>2020/07/04</th>
                                <th><button type="button" class="btn btn-info btn-sm">메세지</button></th>
                            </tr>
                            <tr>
                                <th>1</th>
                                <th>철수</th>
                                <th>2000만원</th>
                                <th>2020/07/04</th>
                                <th><button type="button" class="btn btn-info btn-sm">메세지</button></th>
                            </tr>
                            <tr>
                                <th>1</th>
                                <th>철수</th>
                                <th>2000만원</th>
                                <th>2020/07/04</th>
                                <th><button type="button" class="btn btn-info btn-sm">메세지</button></th>
                            </tr>
                            <tr>
                                <th>1</th>
                                <th>철수</th>
                                <th>2000만원</th>
                                <th>2020/07/04</th>
                                <th><button type="button" class="btn btn-info btn-sm">메세지</button></th>
                            </tr>
                            <tr>
                                <th>1</th>
                                <th>철수</th>
                                <th>2000만원</th>
                                <th>2020/07/04</th>
                                <th><button type="button" class="btn btn-info btn-sm">메세지</button></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>