<section id="feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10" style="margin-left:auto">
                <div class="row pt-5 mt-3 mb-5">
                    <div class="col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-cutlery fa-3x text-warning"></i>
                                    <div class="text-right text-secondary">
                                        <h5>메뉴 개수</h5>
                                        <h3>0개</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill-alt fa-3x text-warning"></i>
                                    <div class="text-right text-secondary">
                                        <h5>가게 매출</h5>
                                        <h3>0원</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-comments fa-3x text-warning"></i>
                                    <div class="text-right text-secondary">
                                        <h5>주문 횟수</h5>
                                        <h3>0번</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-thumbs-up fa-3x text-warning"></i>
                                    <div class="text-right text-secondary">
                                        <h5>리뷰 개수</h5>
                                        <h3>0개</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>