<section id="feature">
  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xl-10 col-lg-9 col-md-8" style="margin-left:auto">
        <div class="row">
          <div class="col-12">
            <h3 class="text-muted text-center mb-3" style="margin-top:2em">메뉴 목록</h3>
            <table class="table bg-light text-center">
              <thead>
              <tr class="text-muted">
                <th>번 호</th>
                <th>닉네임</th>
                <th>이메일</th>
                <th></th>
              </tr>
              </thead>
              <tbody th:each="user : ${userList}">
              <tr th:id="${user.id}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td><button type="button" class="btn btn-info btn-sm" th:onclick="|javascript:addStoreInfo('${user.id}')|">추가</button></td>
              </tr>
              <tr th:id="'addtd' + ${user.id}" style="display:none">
                <td></td>
                <td><input type="text" class="form-control" th:id="'storeInput' + ${user.id}" placeholder="가게 이름"></td>
                <td></td>
                <td><button type="button" class="btn btn-danger btn-sm" th:onclick="|javascript:sendStoreInfo('${user.id}')|">등록</button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>