<section id="feature">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-xl-10 col-lg-9 col-md-8" style="margin-left:auto">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-muted text-center mb-3" style="margin-top:2em;">메뉴를 추가할 가게 목록</h3>
                        <table class="table bg-light text-center">
                            <thead>
                            <tr class="text-muted">
                                <th>등록번호</th>
                                <th>가게이름</th>
                                <th>이미지</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody th:each="store : ${storeList}">
                            <tr th:id="${store.id}">
                                <th th:text="${store.id}"></th>
                                <th th:text="${store.storeName}"></th>
                                <th th:text="${store.imageUrl}"></th>
                                <th></th>
                                <th><button type="button" class="btn btn-info btn-sm" th:onclick="|javascript:addMenuInfo('${store.id}')|">추가</button></th>
                            </tr>
                            <tr th:id="'addStoretd' + ${store.id}" style="display:none">
                                <td><input type="text" class="form-control" th:id="'menuInput' + ${store.id}" placeholder="메뉴 이름"></td>
                                <td><input type="text" class="form-control" th:id="'menuPriceInput' + ${store.id}" placeholder="메뉴 가격"></td>
                                <td><input type="text" class="form-control" th:id="'menuDetailsInput' + ${store.id}" placeholder="메뉴 설명"></td>
                                <td><input type="text" class="form-control" th:id="'menuimageUrlInput' + ${store.id}" placeholder="메뉴 이미지 경로"></td>
                                <td><button type="button" class="btn btn-danger btn-sm" th:onclick="|javascript:sendMenuInfo('${store.id}')|">등록</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>